{% extends './base.html' %} {% block title %} Edicion Miembros Inferior {%
endblock %} {% block body %}
<button onclick="window.location.href='/EdicionRegistro'" class="back-button">
  <i class="fas fa-arrow-left"></i> Regresar
</button>

<h1 class="text-center bold-text">Miembros Inferiores</h1>

<!-- Sección Miembros Superiores -->
<div id="contenedorFicha12" class="card mb-3 formulario-imprimible">
  <div
    class="card-header"
    data-toggle="collapse"
    data-target="#miembrosInferiores"
    aria-expanded="true"
    aria-controls="miembrosInferiores"
  >
    Miembros Superiores
    <i class="fas fa-chevron-up float-right"></i>
    <button
      type="button"
      class="btn btn-danger btn-sm float-right mr-2"
      onclick="eliminarContenedor12()"
    >
      Eliminar sección
    </button>
  </div>

  <div id="miembrosInferiores" class="collapse show">
    <div class="card-body">
      <form
        class="row g-3 needs-validation"
        novalidate
        id="miembroFormInferior"
      >
        <p class="text-center col-md-12 mt-1">
          <strong>Miembros Inferiores</strong>
        </p>

        <div class="card-body">
          <div class="form-group">
            <label for="observacionesMiembrosInferiores">Observaciones</label>
            <textarea
              class="form-control"
              name="observacionesMiembrosInferiores"
              id="observacionesMiembrosInferiores"
              style="height: 200px"
              placeholder="Describir: Vellosidad, coloración (escala de 'Von Luschan'), cicatrices, manchas, inflamación (tumoración, coloración, etc)"
            ></textarea>
          </div>
        </div>

        <div class="card-body">
          <div class="form-group">
            <label for="palpacionMiembrosInferiores">Palpación:</label>
            <textarea
              class="form-control"
              name="palpacionMiembrosInferiores"
              id="palpacionMiembrosInferiores"
              style="height: 200px"
              placeholder="Describir: Consistencia, movilidad, elasticidad de la piel; temperatura, puntos de tensión y/o de dolor, etc."
            ></textarea>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="dolorSuperior"><u>Dolor</u></label>
          <div class="text-center">
            <img
              src="/static/img/medicion3.PNG"
              class="img-fluid mt-3 mb-5"
              alt="dolor"
            />
          </div>
          <label for=""><u>Número de dolor:</u></label>
          <input
            type="number"
            class="form-control"
            id="dolorexplofisicaMiembrosInferiores"
            placeholder=""
          />
          <label for="Descripción"><u>Dolor</u></label>
          <textarea
            class="form-control"
            name="dolorSuperiorMiembrosInferiores"
            id="dolorSuperiorMiembrosInferiores"
            style="height: 100px"
            placeholder="Descripción del dolor (intensidad, frecuencia, tipo, localización, antigüedad, etc):"
          ></textarea>
        </div>

        <div class="col-md-12">
          <button id="botonOculto" type="submit" class="btn btn-primary">
            Guardar y Continuar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Sección Fuerza muscular -->
<div id="contenedorFicha13" class="card mb-3 formulario-imprimible">
  <div
    class="card-header"
    data-toggle="collapse"
    data-target="#fuerzaMuscular"
    aria-expanded="true"
    aria-controls="fuerzaMuscular"
  >
    Fuerza muscular
    <i class="fas fa-chevron-up float-right"></i>
    <button
      type="button"
      class="btn btn-danger btn-sm float-right mr-2"
      onclick="eliminarContenedor13()"
    >
      Eliminar sección
    </button>
  </div>

  <div id="fuerzaMuscular" class="collapse show">
    <div class="card-body">
      <form
        class="row g-3 needs-validation"
        novalidate
        id="miembroFormInferior1"
      >
        <div class="form-group col-md-12">
          <label for="Fuerzamuscular"><u>Fuerza muscular</u></label>
          <div class="card-body">
            <table class="table table-bordered">
              <thead class="col">
                <tr>
                  <th scope="col">Izquierdo</th>
                  <th scope="col">Movimiento</th>
                  <th scope="col">Derecho</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Flexión de cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Flexión de cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Flexión de cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Extensión de la cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Extensión de la cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Extensión de la cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Abducción de la cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Abducción de la cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Abducción de la cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Aducción de la cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Aducción de la cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Aducción de la cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Rotación externa de la cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Rotación externa de la cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Rotación externa de la cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Rotación interna de la cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Rotación interna de la cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Rotación interna de la cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Flexión de la rodilla_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Flexión de la rodilla</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Flexión de la rodilla_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Extensión de la rodilla_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Extensión de la rodilla</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Extensión de la rodilla_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Flexión plantar del tobillo_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Flexión plantar del tobillo</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Flexión plantar del tobillo_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Dorsiflexión e inversión del pie_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Dorsiflexión e inversión del pie</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Dorsiflexión e inversión del pie_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Inversión del pie_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Inversión del pie</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Inversión del pie_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Eversión del pie con flexión plantar_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">
                    Eversión del pie con flexión plantar
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Eversión del pie con flexión plantar_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Eversión del pie con dorsiflexión_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td class="text-center">Eversión del pie con dorsiflexión</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Eversión del pie con dorsiflexión_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <label>* Escala de Daniels y Worthingham</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Sección Goniometría -->
<div id="contenedorFicha14" class="card mb-3 formulario-imprimible">
  <div
    class="card-header"
    data-toggle="collapse"
    data-target="#goniometría1"
    aria-expanded="true"
    aria-controls="goniometría1"
  >
    Goniometría
    <i class="fas fa-chevron-up float-right"></i>
    <button
      type="button"
      class="btn btn-danger btn-sm float-right mr-2"
      onclick="eliminarContenedor14()"
    >
      Eliminar sección
    </button>
  </div>

  <div id="goniometría1" class="collapse show">
    <div class="card-body">
      <form
        class="row g-3 needs-validation"
        novalidate
        id="miembroFormInferior2"
      >
        <div class="form-group col-md-12">
          <label for="goniometria"><u>Goniometría</u></label>
          <div class="card-body">
            <table class="table table-bordered">
              <thead class="col">
                <tr>
                  <th scope="col">Rangos Normales</th>
                  <th scope="col">Izquierdo</th>
                  <th scope="col">Movimiento</th>
                  <th scope="col">Derecha</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0°-140°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-140°_Flexión de cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Flexión de cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-140°_Flexión de cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-10°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-10°_Extensión de cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Extensión de cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-10°_Extensión de cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-50°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-50°_Abducción de cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Abducción de cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-50°_Abducción de cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-30°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-30°_Aducción de cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Aducción de cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-30°_Aducción de cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-50°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-50°_Rotación externa de cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Rotación externa de cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-50°_Rotación externa de cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-40°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-40°_Rotación interna de cadera_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Rotación interna de cadera</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-40°_Rotación interna de cadera_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-150°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-150°_Flexión de rodilla_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Flexión de rodilla</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-150°_Flexión de rodilla_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°(activa)-10°(pasiva)</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°(activa)-10°(pasiva)_Extensión de rodilla_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Extensión de rodilla</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°(activa)-10°(pasiva)_Extensión de rodilla_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-50°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-50°_Plantiflexión_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Plantiflexión</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-50°_Plantiflexión_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-30°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-30°_Dorsiflexión_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Dorsiflexión</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-30°_Dorsiflexión_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-60°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-60°_Inversión del pie_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Inversión del pie</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-60°_Inversión del pie_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>0°-30°</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-30°_Eversión del pie_izquierdo"
                      placeholder=""
                    />
                  </td>
                  <td>Eversión del pie</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="0°-30°_Eversión del pie_derecho"
                      placeholder=""
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Sección Reflejos osteotendinosos -->
<div id="contenedorFicha15" class="card mb-3 formulario-imprimible">
  <div
    class="card-header"
    data-toggle="collapse"
    data-target="#reflejosOsteotendinosos"
    aria-expanded="true"
    aria-controls="reflejosOsteotendinosos"
  >
    Reflejos osteotendinosos
    <i class="fas fa-chevron-up float-right"></i>
    <button
      type="button"
      class="btn btn-danger btn-sm float-right mr-2"
      onclick="eliminarContenedor15()"
    >
      Eliminar sección
    </button>
  </div>

  <div id="reflejosOsteotendinosos" class="collapse show">
    <div class="card-body">
      <form
        class="row g-3 needs-validation"
        novalidate
        id="miembroFormInferior3"
      >
        <label class="form-group col-md-8" for="Fuerzamuscular"
          ><u>Reflejos osteotendinosos</u></label
        >

        <div
          class="form-group row col-md-12 mx-auto d-flex justify-content-center"
        >
          <div class="card-body col-md-8">
            <table class="table table-bordered">
              <thead class="col">
                <tr>
                  <th scope="col">IZQ</th>
                  <th scope="col">ROT</th>
                  <th scope="col">DER</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Rotuliano_izq"
                      placeholder=""
                    />
                  </td>
                  <td>Rotuliano</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Rotuliano_der"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Aquileo_izq"
                      placeholder=""
                    />
                  </td>
                  <td>Aquileo</td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Aquileo_der"
                      placeholder=""
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Sección Pruebas y evaluaciones complementarias -->
<div id="contenedorFicha16" class="card mb-3 formulario-imprimible">
  <div
    class="card-header"
    data-toggle="collapse"
    data-target="#pruebasYevaluacionesComplementarias"
    aria-expanded="true"
    aria-controls="pruebasYevaluacionesComplementarias"
  >
    Pruebas y evaluaciones complementarias
    <i class="fas fa-chevron-up float-right"></i>
    <button
      type="button"
      class="btn btn-danger btn-sm float-right mr-2"
      onclick="eliminarContenedor16()"
    >
      Eliminar sección
    </button>
  </div>

  <div id="pruebasYevaluacionesComplementarias" class="collapse show">
    <div class="card-body">
      <form
        class="row g-3 needs-validation"
        novalidate
        id="miembroFormInferior4"
      >
        <div class="form-group col-md-12">
          <div class="card-body">
            <table class="table table-bordered">
              <thead class="col">
                <tr>
                  <th colspan="2" class="text-center">
                    PRUEBAS Y EVALUACIONES COMPLEMENTARIAS
                  </th>
                </tr>
                <tr>
                  <th scope="col">Pruebas</th>
                  <th scope="col">Resultados y análisis</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Pruebas_1_MiembrosInferiores"
                      placeholder=""
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Resultados y análisis_1_MiembrosInferiores"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Pruebas_2_MiembrosInferiores"
                      placeholder=""
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Resultados y análisis_2_MiembrosInferiores"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Pruebas_3_MiembrosInferiores"
                      placeholder=""
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Resultados y análisis_3_MiembrosInferiores"
                      placeholder=""
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Pruebas_4_MiembrosInferiores"
                      placeholder=""
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="Resultados y análisis_4_MiembrosInferiores"
                      placeholder=""
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Sección Evaluación de la marcha -->
<div id="contenedorFicha17" class="card mb-3 formulario-imprimible">
  <div
    class="card-header"
    data-toggle="collapse"
    data-target="#evaluacionDeLaMarcha"
    aria-expanded="true"
    aria-controls="evaluacionDeLaMarcha"
  >
    Evaluación de la marcha
    <i class="fas fa-chevron-up float-right"></i>
    <button
      type="button"
      class="btn btn-danger btn-sm float-right mr-2"
      onclick="eliminarContenedor17()"
    >
      Eliminar sección
    </button>
  </div>
  <div id="evaluacionDeLaMarcha" class="collapse show">
    <div class="card-body">
      <form
        class="row g-3 needs-validation"
        novalidate
        id="miembroFormInferior5"
      >
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="3" class="text-center">
                <u>Ciclo de la marcha</u>
              </th>
            </tr>
            <tr>
              <th scope="col"></th>
              <th scope="col">Pierna Izquierda</th>
              <th scope="col">Pierna Derecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="bold-text">
                <b>Fase de apoyo</b>
              </td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  name="Fase_de_apoyo_completo"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="thin-text">
                <b>-Contacto de talón</b>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Contacto_de_talon_izquierdo"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Contacto_de_talon_derecho"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="thin-text">
                <b>-Apoyo plantar</b>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Apoyo_plantar_izquierdo"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Apoyo_plantar_derecho"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="thin-text">
                <b>-Apoyo medio</b>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Apoyo_medio_izquierdo"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Apoyo_medio_derecho"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="bold-text">
                <b>Fase de oscilación</b>
              </td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  name="Fase_de_oscilacion_completo"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="thin-text">
                <b>-Balanceo inicial</b>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Balanceo_inicial_izquierdo"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Balanceo_inicial_derecho"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="thin-text">
                <b>-Balanceo medio</b>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Balanceo_medio_izquierdo"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Balanceo_medio_derecho"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="thin-text">
                <b>-Balanceo terminal</b>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Balanceo_terminal_izquierdo"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Balanceo_terminal_derecho"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="bold-text">
                <b>Rotación pélvica</b>
              </td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  name="Rotacion_pelvica_completo"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="bold-text">
                <b>Inclinación pélvica</b>
              </td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  name="Inclinacion_pelvica_completo"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="bold-text">
                <b>Flexión de rodilla</b>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Flexion_de_rodilla_izquierdo"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Flexion_de_rodilla_derecho"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="bold-text">
                <b>Movimientos coordinados de rodilla y tobillo</b>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Movimientos_coordinados_de_rodilla_y_tobillo_izquierdo"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="Movimientos_coordinados_de_rodilla_y_tobillo_derecho"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="bold-text">
                <b>Movimiento del centro de gravedad</b>
              </td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  name="Movimiento_del_centro_de_gravedad_completo"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="bold-text">
                <b>Cadencia</b>
              </td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  name="Cadencia_completo"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td class="bold-text">
                <b>Balanceo de MS</b>
              </td>
              <td colspan="2">
                <input
                  type="text"
                  class="form-control"
                  name="Balanceo_de_MS_completo"
                  placeholder=""
                />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<!-- Boton -->
<div class="col-md-12">
  <button id="botonVisible" type="submit" class="btn btn-primary">
    Guardar y Continuar
  </button>
</div>

<!-- Botón para enviar el PDF al backend -->
<div class="col-md-12">
  <button id="botonGuardarPDF" class="btn btn-secondary" disabled>
    Guardar PDF
  </button>
</div>

<script>
  document
    .getElementById("botonGuardarPDF")
    .addEventListener("click", function () {
      // Selecciona los formularios
      const forms = document.querySelectorAll(".formulario-imprimible");
      const collapseElements = document.querySelectorAll(".collapse");
      collapseElements.forEach((collapse) => {
        collapse.classList.add("show");
      });

      // Crea un contenedor temporal
      const tempContainer = document.createElement("div");
      const nombrePaciente = localStorage.getItem("nombrePaciente");

      // Añadir estilos personalizados
      const styles = `
    <style>
      body {
        font-family: 'Arial', sans-serif;
        color: #333;
        margin: 20px;
      }
      h1 {
        text-align: center;
        font-size: 24px;
        color: #003366;
        border-bottom: 2px solid #003366;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
      .card {
        border: 2px solid #003366;
        margin-bottom: 20px;
        border-radius: 8px;
      }
      .card-header {
        background-color: #003366;
        color: white;
        font-weight: bold;
        padding: 10px;
        font-size: 18px;
      }
      .card-body {
        padding: 20px;
        background-color: #f9f9f9;
      }
      .form-group label {
        font-weight: bold;
        color: #003366;
      }
      .form-control {
        border: 1px solid #003366;
        padding: 10px;
        border-radius: 5px;
      }
      .btn-primary {
        background-color: #003366;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 20px;
      }
      table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
      }
      table, th, td {
        border: 1px solid #003366;
      }
      th {
        background-color: #003366;
        color: white;
        padding: 10px;
        text-align: left;
      }
      td {
        padding: 10px;
        background-color: #fff;
      }
      .text-center {
        text-align: center;
      }
      .bold-text {
        font-weight: bold;
      }
    </style>
  `;
      tempContainer.innerHTML = styles;

      forms.forEach((form) => {
        const clonedForm = form.cloneNode(true);
        const inputs = form.querySelectorAll("input, select, textarea");
        const clonedInputs = clonedForm.querySelectorAll(
          "input, select, textarea"
        );
        inputs.forEach((input, index) => {
          if (input.type === "checkbox" || input.type === "radio") {
            clonedInputs[index].checked = input.checked;
          } else {
            clonedInputs[index].value = input.value;
          }
        });
        tempContainer.appendChild(clonedForm);
      });

      // Generar el PDF con los estilos
      html2pdf(tempContainer, {
        margin: 1,
        filename: "Miembros Inferiores.pdf",
        image: { type: "jpeg", quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: "in", format: "letter", orientation: "portrait" },
      })
        .output("blob")
        .then(function (pdfBlob) {
          const formData = new FormData();
          formData.append("pdf", pdfBlob, "Ficha.pdf");
          formData.append("nombrePaciente", nombrePaciente);

          // Enviar el PDF al backend
          fetch("/guardar_pdf_Miembros_Inferiores", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              // Simular clic en el botón con el id "botonVisible"
              document.getElementById("botonVisible").click();
            });
        });
    });

  document.addEventListener("DOMContentLoaded", () => {
    const botonGuardarPDF = document.getElementById("botonGuardarPDF");
    const forms = document.querySelectorAll(".formulario-imprimible");

    // Función para verificar si todos los campos están llenos
    const verificarCamposLlenos = () => {
      let todosLlenos = true;

      // Iterar sobre todos los formularios
      forms.forEach((form) => {
        const inputs = form.querySelectorAll("input, textarea, select");
        inputs.forEach((input) => {
          if (
            input.type === "checkbox" || input.type === "radio"
              ? !input.checked
              : !input.value.trim()
          ) {
            todosLlenos = false;
          }
        });
      });

      // Habilitar o deshabilitar el botón basado en la validación
      botonGuardarPDF.disabled = !todosLlenos;
    };

    // Agregar eventos de escucha a los campos
    forms.forEach((form) => {
      const inputs = form.querySelectorAll("input, textarea, select");
      inputs.forEach((input) => {
        input.addEventListener("input", verificarCamposLlenos);
        input.addEventListener("change", verificarCamposLlenos);
      });
    });

    // Verificar inicialmente
    verificarCamposLlenos();
  });
</script>

{% endblock %}
