{% extends './base.html' %} {% block title %} Nuevo Registro {% endblock %} {%
block body %}
<section class="container11">
  <p class="display-4 py-4 bold-text">Formularios</p>
  <div class="row11">
    <div class="cols11">
      <a href="{{ url_for('Ficha') }}" class="text-decoration-none">
        <div class="container_alumno_cards11">
          <img src="/static/img/formulario.png" alt="icon document" />
          <p class="py-3">Ficha</p>
        </div>
      </a>
    </div>
    <div class="cols11">
      <a href="{{ url_for('MiembroSuperior') }}" class="text-decoration-none">
        <div class="container_alumno_cards11">
          <img src="/static/img/formulario.png" alt="icon document" />
          <p class="py-3">Miembro Superior</p>
        </div>
      </a>
    </div>
    <div class="cols11">
      <a href="{{ url_for('MiembroInferior') }}" class="text-decoration-none">
        <div class="container_alumno_cards11">
          <img src="/static/img/formulario.png" alt="icon document" />
          <p class="py-3">Miembro Inferior</p>
        </div>
      </a>
    </div>
    <div class="cols11">
      <a href="{{ url_for('CabezaTorax') }}" class="text-decoration-none">
        <div class="container_alumno_cards11">
          <img src="/static/img/formariopersona.png" alt="icon document" />
          <p class="py-3">Cabeza y toráx</p>
        </div>
      </a>
    </div>
    <div class="cols11">
      <a
        href="{{ url_for('EvaluacionDeLaPostura') }}"
        class="text-decoration-none"
      >
        <div class="container_alumno_cards11">
          <img src="/static/img/formariopersona.png" alt="icon document" />
          <p class="py-3">Evaluación de la postura</p>
        </div>
      </a>
    </div>
    <div class="cols11">
      <a href="{{ url_for('NotasSeguimiento') }}" class="text-decoration-none">
        <div class="container_alumno_cards11">
          <img src="/static/img/formariopersona.png" alt="icon document" />
          <p class="py-3">Notas de seguimiento</p>
        </div>
      </a>
    </div>
    <div class="cols11">
      <a href="{{ url_for('PlanDiagnostico') }}" class="text-decoration-none">
        <div class="container_alumno_cards11">
          <img src="/static/img/formariopersona.png" alt="icon document" />
          <p class="py-3">Plan de tratamiento</p>
        </div>
      </a>
    </div>
  </div>
</section>

<body>
  <button onclick="limpiarLocalStorage()">Limpiar LocalStorage</button>
</body>

<div class="followup-container-inline">
  <span class="followup-header-inline">Notas de seguimiento</span>
  <input
    type="file"
    id="fileInput"
    accept="application/pdf"
    style="display: none"
  />
  <button class="followup-btn followup-select-btn" onclick="selectFile()">
    Seleccionar archivo
  </button>
  <span id="fileName" class="followup-file-name-inline"
    >Sin archivos seleccionados</span
  >
  <button class="followup-btn followup-send-btn" onclick="sendFile()">
    Enviar
  </button>
</div>

<div class="container mt-5">
  <div id="resumenDatos">
    <!-- Aquí se mostrarán los datos -->
  </div>
  <!-- Botón que se activará después del éxito -->
  <button type="button" class="btn btn-primary mt-3" id="submitData" disabled>
    Enviar Datos
  </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const datosDiagnostico =
    JSON.parse(localStorage.getItem("datosDiagnostico")) || {};
  const datosNotasSeguimiento =
    JSON.parse(localStorage.getItem("datosNotasSeguimiento")) || {};
  const datosEvaluacionPostura =
    JSON.parse(localStorage.getItem("datosEvaluacionPostura")) || {};
  const datosCabezaTorax =
    JSON.parse(localStorage.getItem("datosCabezaTorax")) || {};
  const datosMiembroInferiores =
    JSON.parse(localStorage.getItem("datosMiembroInferiores")) || {};
  const datosFicha = JSON.parse(localStorage.getItem("datosFicha")) || {};
  const datosMiembroSuperior =
    JSON.parse(localStorage.getItem("datosMiembroSuperior")) || {};
  const combinedData = {
    ...datosFicha,
    ...datosMiembroSuperior,
    ...datosMiembroInferiores,
    ...datosCabezaTorax,
    ...datosEvaluacionPostura,
    ...datosNotasSeguimiento,
    ...datosDiagnostico,
  };

  const resumenContainer = document.getElementById("resumenDatos");

  document.getElementById("submitData").addEventListener("click", function () {
    fetch("/guardar_datos", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(combinedData),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          Swal.fire({
            icon: "success",
            title: "Éxito",
            text: "Datos guardados exitosamente",
          }).then(() => {
            localStorage.clear(); // Limpiar localStorage después de enviar los datos
            window.location.href = "Principal"; // Redirigir a la página "Principal"
          });
        } else {
          Swal.fire({
            icon: "error",
            title: "Error",
            text: "Error al guardar los datos",
          });
        }
      })
      .catch((error) => {
        Swal.fire({
          icon: "error",
          title: "Error",
          text: "Ocurrió un problema al intentar guardar los datos",
        });
        console.error("Error:", error);
      });
  });

  let selectedFile = null; // Variable para almacenar el archivo seleccionado

  // Función para abrir el selector de archivos
  function selectFile() {
    document.getElementById("fileInput").click();
  }

  // Evento para actualizar el nombre del archivo seleccionado
  document
    .getElementById("fileInput")
    .addEventListener("change", function (event) {
      const file = event.target.files[0];
      if (file) {
        if (file.type === "application/pdf") {
          selectedFile = file; // Guardar el archivo seleccionado
          document.getElementById("fileName").textContent = file.name; // Mostrar el nombre del archivo
          Swal.fire({
            icon: "success",
            title: "Archivo seleccionado",
            text: `Se ha seleccionado el archivo: ${file.name}`,
          });
        } else {
          Swal.fire({
            icon: "error",
            title: "Tipo de archivo no válido",
            text: "Solo se permiten archivos PDF.",
          });
          this.value = ""; // Reiniciar el input
          document.getElementById("fileName").textContent =
            "Sin archivos seleccionados";
          selectedFile = null; // Reiniciar el archivo seleccionado
        }
      }
    });

  // Función para enviar el archivo
  function sendFile() {
    if (!selectedFile) {
      Swal.fire({
        icon: "warning",
        title: "Ningún archivo seleccionado",
        text: "Por favor, selecciona un archivo antes de enviar.",
      });
      return;
    }

    const nombrePaciente = localStorage.getItem("nombrePaciente");
    if (!nombrePaciente) {
      Swal.fire({
        icon: "warning",
        title: "Nombre del paciente no encontrado",
        text: "Por favor, asegúrate de que el nombre del paciente esté configurado en el sistema.",
      });
      return;
    }

    // Crear el objeto FormData para enviar los datos
    const formData = new FormData();
    formData.append("pdf", selectedFile); // Archivo PDF
    formData.append("nombrePaciente", nombrePaciente); // Nombre del paciente

    // Deshabilitar el botón de envío mientras se procesa la solicitud
    const followupButton = document.querySelector(
      ".followup-btn.followup-send-btn"
    );
    followupButton.disabled = true;

    // Enviar el archivo al backend
    fetch("/guardar_pdf_Notas_de_seguimiento_modificado", {
      method: "POST",
      body: formData,
    })
      .then((response) => {
        if (!response.ok) {
          return response.json().then((error) => {
            throw new Error(
              error.message || "Error desconocido en el servidor"
            );
          });
        }
        return response.json();
      })
      .then((data) => {
        Swal.fire({
          icon: "success",
          title: "Archivo enviado",
          text: `El archivo se ha enviado correctamente`,
        });

        // Cambiar el estado de los botones después del éxito
        const submitDataButton = document.getElementById("submitData");
        submitDataButton.disabled = false; // Activar el botón
        followupButton.disabled = true; // Deshabilitar el botón de envío del PDF
      })
      .catch((error) => {
        Swal.fire({
          icon: "error",
          title: "Error al enviar",
          text: error.message,
        });

        // Reactivar el botón de envío en caso de error
        followupButton.disabled = false;
      });
  }
</script>

<script>
  function limpiarLocalStorage() {
    if (
      confirm(
        "¿Estás seguro de que deseas limpiar todos los datos guardados en el localStorage?"
      )
    ) {
      localStorage.clear();
      alert("¡Todos los datos han sido eliminados!");
    }
  }
</script>
{% endblock %}
